* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #363636;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #fafafa91;
    width: 100%;
    max-width: 450px;
}

.card h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    border: 1px solid #007bff57;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
}


select option {
    background-color: #ffffff;
    padding: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #004494;
}

.resultado {
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #d2d1d1;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: #222;
}