body {
    background: lightgray url(gato.avif) center/ cover no-repeat fixed;
    
    /*
        Judiação, ficou horrível:

        background: lightgray url(gato.avif) center/ 300px 100% fixed;

        background: lightgray url(gato.avif) center/ 100% 300px fixed;
    */
}

main {
    background-color: #161616b6;
    backdrop-filter: blur(2px);
    color: #cac7c7;
    max-width: 800px;

    margin: auto;
    border-radius: 20px;
    border: 1px solid #cac7c74f;
    padding: 25px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.paragrafo-destaque {
    background-color: #b0b0b022;
    color: #b0b0b0;
    border: 1px solid orange;
    border-radius: 15px;
    padding: 15px;
}

.lista-contato {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.lista-contato a {
    color: #00acb8;
    padding: 2px 5px;
}

.lista-contato a:visited {
    color: #00b83a;
}
